 {% if meta %}
    {% if 'title' in meta %}
    <title> {{meta['title']}} </title>
    <meta property="og:title" value="{{meta['title']}}"/>
    {% endif %}

    {% if 'description' in meta %}
    <meta property="og:description" value="{{meta['description']}}"/>
    {% endif %}

    {% if 'image' in meta %}
    <meta property="og:image" value="{{meta['image']}}"/>
    {% endif %}

    {% if 'extra-stylesheet' %}
    <link rel="stylesheet" href="{{meta['extra-stylesheet']}}"/>
    {% endif %}
{% endif %}